@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background: #202124;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    width: 13px;
}
body::-webkit-scrollbar-thumb{
    background: #c1c1c1;
    border-radius: 6px;
}


h1{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
}
p{
    font-size: 17px;
}


header{
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.video-bg{
    position: absolute;
    width: 100%;
    opacity: 25%;
}
.title{
    text-align: center;
    z-index: 0;
}
.title h3{
    font-size: 10vh;
    margin: 0;
    transition: 0.5s ease;
}
.title h3:hover{
    font-size: 11vh;
}
.title p{
    font-size: 2.7vh;
    padding: 0px 300px 0px 300px;
}

/* NAVEGAÇÃO */

nav{
    width: 100%;
    height: 62px;
    background: rgba(19, 18, 18, 0.8);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 2;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 62px;
    letter-spacing: 0.5px;
    transition: 0.5s;
}
nav p{
    font-size: 18px;
    transition: 0.5s;
}
nav a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:rgb(183, 229, 241);
    margin: auto;
    display: block;
}
nav a:hover::after{
    width: 100%;
    transition: width 0.5s ease;
    margin-top: -5px;
}
nav a:hover{
    font-size: 20px;
}
nav p:hover{
    font-size: 20px;
}

/* BARRA DE PROGRESSO ATIVA CASO HABILITADO 'chrome://flags/#enable-experimental-web-platform-features'
.progresso{
    height: 2px;
    background: limegreen;
    position: sticky;
    top: 0;
    transform: translateX(-100%);
    animation: scrollprogress 1s linear both;
    animation-timeline: scrollprogress;
    z-index: 3;
}

@scroll-timeline scrollprogress{
    time-range: 1s;
}
@keyframes scrollprogress{
    to{transform: translateX(0);}
}
*/

section{
    position: relative;
}


/* SOBRE */


.sobre{
    position: relative;
    height: 43em;
    width: 100%;
    padding: 70px 100px;
    margin: 0;
    background: #202124;
    align-items: center;
    justify-content: center;
}
.sobre-secao1{
    position: relative;
    display: flex;
    margin: 0;
    bottom: 18px;
}
.sobre-img1{
    position: relative;
    width: 360px;
    padding: 0px 50px 0px 0px;
    left: -50px;
}
.sobre-texto1{
    align-self: center;
    text-align: left;
}

.sobre-secao2{
    position: relative;
    display: flex;
    margin: 0;
    bottom: 110px;
}
.sobre-img2{
    position: relative;
    width: 370px;
    padding: 0px 0px 0px 50px;
    bottom: 30px;
    right: -50px;
}
.sobre-texto2{
    align-self: center;
    text-align: right;
}


/* EXIGÊNCIAS */


.exigencias{
    position: relative;
    height: 40em;
    width: 100%;
    padding: 105px 100px;
    margin: 0;
    background: #2E3035;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.exigencias p{
    top: 15px;
}

.exigencias-container{
    position: relative;
    display: flex;
}
.exigencias-secao{
    margin: 30px;
}
.exigencias-eixo1{
    width: 50%;
    position: relative;
    right: 0px;
}
.exigencias-quadrado{
    position: absolute;
    background: #13AACE;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    left: 0;
    transition: 1s ease;
}
.exigencias-eixo1 .exigencias-quadrado{
    left: -40px;
}
.exigencias-eixo2{
    width: 50%;
    position: relative;
}
.exigencias-eixo2 .exigencias-texto{
    position: relative;
    left: 40px;
}

.exigencias-quadrado:hover{
    background: #38ce13;
}


/*MERCADO*/


.mercado{
    position: relative;
    height: 43em;
    width: 100%;
    padding: 70px 100px;
    margin: 0;
    background: #2E3341;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mercado h1{
    font-size: 50px;
}

.main-card{
    overflow: hidden;
    width: 500%;
    height: 100%;
    padding: 5px 0px;
    display: flex;
}
.main-card::before, .main-card::after{
    background: linear-gradient(to left, #2E3341 0%, #ffffff00 70%);
    content: '';
    height: 100%;
    position: absolute;
    width: 20%;
    z-index: 1;
    right: 0;
}
.slide{
    width: 20%;
    overflow: hidden;
    padding: 0px 0;
    display: flex;
    transition: .7s;
    
}
.card{
    overflow: hidden;
    position: relative;
    border-radius: 27px;
    margin: 20px;
    width: 330px;
    height: 455px;
    border: solid 4px #01F5B7;
}
.card-secao{
    position: relative;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.mercado-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: -20px;
}
.profissao p{
    font-size: 16px;
}
.profissao .p1{
    font-size: 14px;
}
.mercado-title h2{
    position: relative;
    text-align: left;
    font-size: 30px;
}
.mercado-title h3{
    position: relative;
    text-align: left;
    font-size: 25px;
}
.mercado-quadrado{
    position: relative;
    background: #13AACE;
    border-radius: 10px;
    min-width: 35px;
    min-height: 35px;
    margin-right: 15px;
}

.card-img{
    position: relative;
    background: #01F5B7;
    width: 330px;
    height: 160px;
    bottom: 35px;
    border-radius: 20px 20px 0 0;
    border: solid 4px #01F5B7;
    transition: .5s;
}
#mercado1{
    background-image: url('../files/images/operador.png');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado2{
    background-image: url('../files/images/tv.png');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado3{
    background-image: url('../files/images/produtor_exe.png');
    background-size: cover;
    background-position-y: -30px;
    background-position-x: cover;
}

#mercado4{
    background-image: url('../files/images/editor.png');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado5{
    background-image: url('../files/images/auxiliar_operacaosonora.jpg');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado6{
    background-image: url('../files/images/copywriting.jpeg');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado7{
    background-image: url('../files/images/script.png');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}
#mercado8{
    background-image: url('../files/images/roteirista.jpg');
    background-size: cover;
    background-position-y: 0px;
    background-position-x: cover;
}

.mercado-salario{
    position: relative;
    padding: 10px 0px;
    text-align: center;
    background: #2b7274;
    border-radius: 10px;
    margin-top: 10px;
}
.mercado-salario h3{
    font-size: 20px;
}

.main-card .mercado-nav{
    position: absolute;
    transform: translate( -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 60px;
    bottom: 42%;
}

.bar{
    width: 17px;
    height: 17px;
    border: 2px solid #01F5B7;
    margin: 6px;
    border-radius: 100%;
    cursor: pointer;
    transition: .6s;
}
.bar:hover{
    background: #01F5B7;
}
input{
    display: none;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}


/* ENTREVISTA */


.entrevista{
    position: relative;
    width: 100%;
    height: 40em;
}
#entrevista-video{
    position: relative;
    text-align: center;
    top: 8em;
}

.curva1{
    top: 0;
    position: absolute;
    height: 225px;
    width: 100%;
}
.curva1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 20%;
    width: 75%;
    height: 100%;
    background-color: #2E3341;
    transform: translate(-31%, -40%);
    top: 0px;
    z-index: -1;
}

.entrevista-background {
    position: absolute;
    width: 100vw;
    height: 47em;;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #0a0d4d;
    overflow: hidden;
    z-index: -3;
}
.entrevista-background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: entrevista-animation 10s linear infinite;
}

.entrevista-background li:nth-child(0) {
    left: 15%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 2s;
}
.entrevista-background li:nth-child(1) {
    left: 9%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 1s;
}
.entrevista-background li:nth-child(2) {
    left: 19%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 5s;
}
.entrevista-background li:nth-child(3) {
    left: 32%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 13s;
}
.entrevista-background li:nth-child(4) {
    left: 53%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 10s;
}
.entrevista-background li:nth-child(5) {
    left: 9%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 13s;
}
.entrevista-background li:nth-child(6) {
    left: 61%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 5s;
}
.entrevista-background li:nth-child(7) {
    left: 52%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 15s;
}
.entrevista-background li:nth-child(8) {
    left: 30%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 8s;
}
.entrevista-background li:nth-child(9) {
    left: 52%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 0s;
}
.entrevista-background li:nth-child(10) {
    right: 10%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 10s;
}
.entrevista-background li:nth-child(11) {
    right: 12%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 4s;
}
.entrevista-background li:nth-child(12) {
    right: -10%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 1s;
}

@keyframes entrevista-animation {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* CERTIFICAÇÕES */
.certificacoes{
    position: relative;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: #2E3341;
}
.certificacoes h1{
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 100px;
}
.curva2{
    top: 0;
    position: absolute;
    height: 225px;
    width: 100%;
}
.curva2::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 20%;
    width: 75%;
    height: 100%;
    background-color: #2E3341;
    transform: translate(50%, -40%);
    top: 0px;
    z-index: -1;
}


/* CERTIFICAÇÕES - GRADUAÇÃO */
.graduacao{
    position: relative;
    height: 103em;
    width: 100%;
    background: #1B492F;
}
.graduacao-header{
    position: relative;
    width: 100%;
    height: 27em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}
.graduacao-title{
    text-align: center;
    z-index: 1;
}
.graduacao-title h3{
    font-size: 5em;
    text-shadow: 
    0em 0em 0.2em black;
}
#graduacao-titleimg1{
    top: 0;
    position: absolute;
    background: url("../files/images/graduacao.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    height: 27em;
    z-index: 0;
    opacity: 80%;
}
.graduacao-secao{
    width: 100%;
    height: 30em;
    background: #1B492F;
    padding: 60px 180px;
}

.graduacao-caixa1{
    position: relative;
    display: flex;
    margin-bottom: 5em;
}
.graduacao h2{
    font-size: 2.5em;
    margin-bottom: 6px;
}
.graduacao-texto1{
    align-self: center;
    text-align: left;
    padding-right: 20px;
}

.graduacao-caixa2{
    position: relative;
    display: flex;
    margin-bottom: 5em;
}
.graduacao-texto2{
    align-self: center;
    text-align: left;
    padding-right: 50px;
}
.graduacao-texto3{
    position: relative;
    align-self: center;
    text-align: left;
}

#graduacao-img1{
    background: url('../files/images/audiovisual_4.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    width: 1500px;
    height: 300px;
    border-radius: 20px;
    padding-left: 10px;
    right: 0px;
}
#graduacao-img2{
    background: url('../files/images/bacharel.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 300px;
    border-radius: 20px;
    padding-right: 0px;
    right: 0px;
}
#graduacao-img3{
    background: url('../files/images/licenciado2.png');
    position: relative;
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    right: 0px;
}
.linha{
    left: 0;
    width: 90%;
    height: 2px;
    background: white;
    margin-bottom: 8px;
    opacity: 75%;
}


/* CERTIFICAÇÕES - PÓSGRADUAÇÃO*/
.posgraduacao{
    position: relative;
    height: 55.5em;
    width: 100%;
    background: #743637;
    overflow: hidden;
}
.posgraduacao-header{
    position: relative;
    width: 100%;
    height: 27em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}
.posgraduacao-title{
    text-align: center;
    z-index: 1;
}
.posgraduacao-title h3{
    font-size: 5em;
    text-shadow: 
    0em 0em 0.2em black;
}
#posgraduacao-titleimg2{
    top: 0;
    position: absolute;
    background: url("../files/images/pos2.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    height: 27em;
    z-index: 0;
    opacity: 80%;
}
.posgraduacao-secao{
    position: relative;
    width: 100%;
    padding: 60px 180px;
}

.posgraduacao h2{
    font-size: 2.7em;
    margin-bottom: 20px;
}


/*  UNIVERSIDADES  */
.universidades{
    position: relative;
    height: 39em;
    width: 100%;
    padding: 80px 100px;
    margin: 0;
    background: #202124;
    align-items: center;
    justify-content: center;
}
.universidades-texto{
    margin-bottom: 140px;
}
.universidades-logos{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.universidades-logos ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
.universidades-logos ul li{
    position: relative;
    list-style: none;
    width: 120px;
    height: 120px;
    margin: 0 70px;
    transform: rotate(-30deg) skew(25deg);
    background: #202124;
}
.universidades-logos ul li span{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}
.universidades-logos img{
    position: relative;
    top: 0;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100px !important;
}
.universidades-logos ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
.universidades-logos ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: .8;
}
.universidades-logos ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: .6;
}
.universidades-logos ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: .4;
}
.universidades-logos ul li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: .2;
}
.universidades-logos ul li:nth-child(1) span{
    background: linear-gradient(to bottom,#f37923, #f04f25);
}
.universidades-logos ul li:nth-child(2) span{
    background: #111e3e;
}
.universidades-logos ul li:nth-child(3) span{
    background: #da6d14;
}
.universidades-logos ul li:nth-child(4) span{
    background: #2f3b89;
}
.universidades-logos ul li:nth-child(5) span{
    background: #0526a9;
}


/*  FOOTER  */
.footer{
    background-color: #000000;
    width: 100%;
    height: 10em;  
}
@media (max-width: 1920px){
}

@media (max-width: 1115px) {
    .video-bg{
        width: auto;
        height: auto;
    }
    .title p{
        font-size: 1.1rem;
        padding: 0px 100px 0px 100px;
    }
    nav a{
        font-size: 14px;
    }
    nav p{
        font-size: 14px;
    }
    nav a:hover{
        font-size: 16px;
    }
    nav p:hover{
        font-size: 16px;
    }
    .sobre-img1{
        width: 360px;
    }
    .sobre-texto1 p{
        font-size: 15px;
    }
    .sobre.secao2{
        bottom: -5px;
    }
    .sobre-img2{
        width: 360px;
        bottom: -10px;
    }
    
    .exigencias{
        padding: 75px 60px;
        height: 38em;
    }
    .exigencias h2{
        font-size: 20px;
    }
    .exigencias p{
        font-size: 15px;
    }
    .exigencias-quadrado{
        width: 40px;
        height: 40px;
    }

    .mercado{
        height: 35em;
    }
    .card{
        width: 250px;
        height: 345px;
        border: solid 4px #01F5B7;
    }
    .card-secao{
        padding: 0px 10px;
    }
    .mercado-desc{
        position: relative;
        top: -15px;
    }
    .profissao p{
        font-size: 11px;
    }
    .profissao .p1{
        font-size: 9px;
    }
    .mercado-title{
        top: -25px;
    }
    .mercado-title h2{
        font-size: 19px;
    }
    .mercado-title h3{
        font-size: 14px;
    }
    .mercado-quadrado{
        border-radius: 5px;
        min-width: 20px;
        min-height: 20px;
    }
    .card-img{
        width: 250px;
        height: 115px;
    }
    .mercado-salario{
        top: -15px;
    }
    .mercado-salario h3{
        font-size: 10px;
    }
    .main-card .mercado-nav{
        bottom: 50%;
    }
    .bar{
        width: 10px;
        height: 10px;
    }
    .mercado-salario{
        margin-top: 5px;
    }
}
@media (max-width: 856px) {
    .title h3{
        font-size: 6vh;
        margin: 0;
        transition: 0.5s ease;
    }
    .title h3:hover{
        font-size: 6.2vh;
    }
    .title p{
        position: relative;
        top: 10px;
        font-size: 2vh;
    }
    nav ul{
        padding: 0px 15px 0 15px;
    }
    nav a{
        font-size: 10px;
    }
    nav a:hover{
        font-size: 11px;
    }
    nav p{
        font-size: 10px;
    }
    nav p:hover{
        font-size: 11px;
    }
    .sobre-img1{
        width: 200px;
        height: 150px;
        left: -30px;
        top: 10px;
        padding: 0px 0px 0px 0px;
    }
    .sobre{
        padding: 70px 30px;
        height: 35em;
        text-align: center;
    }
    .sobre-secao1{
        top: 10px;
        left: 0;
    }
    h1{
        font-size: 35px;
    }
    .sobre-texto1 p{
        font-size: 12px;
    }

    .sobre-img2{
        width: 200px;
        height: 150px;
        left: -30px;
        top: 10px;
        padding: 0px 0px 0px 50px;
    }
    .sobre-texto2 p{
        font-size: 12px;
    }
    .sobre-secao2{
        top: 10px
    }

    .exigencias{
        padding: 75px 30px;
        height: 37em;
    }
    .exigencias h2{
        font-size: 15px;
    }
    .exigencias p{
        font-size: 10px;
    }
    .exigencias-quadrado{
        border-radius: 5px;
        width: 20px;
        height: 20px;
    }
    .exigencias-eixo1 .exigencias-quadrado{
        left: -10px;
    }
    .exigencias-eixo2 .exigencias-texto{
        left: 10px;
    }

    .mercado{
        padding: 70px 20px;
    }
    .mercado h1{
        font-size: 40px;
    }
    .card{
        width: 210px;
        height: 440px;
        border: solid 4px #01F5B7;
        margin: 5px;
    }
    .card-secao{
        padding: 0px 5px;
    }
    .mercado{
        height: 40em;
    }
    .mercado-desc{
        position: relative;
        top: -15px;
    }
    .profissao p{
        font-size: 11px;
    }
    .profissao .p1{
        font-size: 9px;
    }
    .mercado-title h2{
        font-size: 15px;
    }
    .mercado-title h3{
        font-size: 13px;
    }
    .card-img{
        width: 210px;
        height: 130px;
    }
    .mercado-salario h3{
        font-size: 9px;
    }
    .main-card .mercado-nav{
        transform: translate(-50%, -50%);
        flex-direction: row;
        left: 50%;
        bottom: 4%;
    }

    .curva::before {
        width: 85%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 444px) {
    .title p{
        font-size: 1.1rem;
        padding: 0px 50px 0px 50px;
    }
    .title h3{
        font-size: 3rem;
        margin: 2px;
    }
    .title h3:hover{
        font-size: 3rem;
    }
    nav ul{
        padding: 0;
    }
    nav a{
        font-size: 6px;
        margin: 1px;
    }
    nav a:hover{
        font-size: 7px;
    }
    nav p{
        font-size: 4px;
    }
    nav p:hover{
        font-size: 4px;
    }
    

    .sobre-img1{
        display: none;
    }
    .sobre{
        padding: 70px 50px;
        height: 30em;
    }
    .sobre h1{
        font-size: 45px;
        text-align: center;
    }
    .sobre-secao1{
        top: 10px;
    }
    .sobre-texto1 p{
        text-align: center;
        font-size: 12px;
        top: 20px
    }
    .sobre-img2{
        display: none;
    }
    .sobre-secao2{
        top: 20px;
    }
    .sobre-texto2 p{
        text-align: center;
        font-size: 12px;
        top: 20px
    }

    .exigencias{
        padding: 75px 15px;
        height: 37em;
    }
    .exigencias-secao{
        margin: 15px;
    }
    .exigencias h2{
        font-size: 12px;
    }
    .exigencias p{
        font-size: 8px;
    }
    .exigencias-quadrado{
        border-radius: 3px;
        width: 10px;
        height: 10px;
    }
    .exigencias-eixo1 .exigencias-quadrado{
        left: 0px;
    }
    .exigencias-eixo2 .exigencias-texto{
        left: 0px;
    }


    
    .main-card .mercado-nav{
        transform: translate(-50%, -50%);
        flex-direction: row;
        left: 50%;
        bottom: 4%;
    }
    .mercado h1{
        font-size: 25px;
    }

    .curva::before {
        width: 85%;
        transform: translate(-80%, -50%);
    }
}